source https://api.nuget.org/v3/index.json
framework: net7.0

github CaptnCodr/FSharpExtensions:main ResourceExtension.fs
github CaptnCodr/FSharpExtensions:main DateTimeExtension.fs

nuget FSharp.Core
nuget FSharp.Data
nuget Newtonsoft.Json
nuget FsHttp
nuget Argu